img[alt="Slacklogo-footer"]{
  width: 15%;
  height: 15%;
  margin-top: 7%;
  margin-bottom: 7%;
}
footer {
  background-color: white;
  color: black;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 15px;
}
footer > div {
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.footer-class li {
  margin-bottom: 10px;
}
.footer-class {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  text-align: left; 
  width: 100px;
}
#titleid {
  font-weight: bold;
  margin-bottom: 10px;
}
#listid{
  color: #454245;
}
hr {
  border: none;
  border-top: 1px solid rgb(185, 185, 185);
  margin: 30px 0;
}
.last{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
}
.the-end{
    margin-bottom: 8%;
}
img[alt="world"]{
    width: 10px;
}
.download{
 color:#2E71A6;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20%;
    font-size: 30px;
}
small {
  display: block;
  margin-top: 10px;
  margin-bottom: 10%;
}


