header {
    display: flex;
    flex-direction: column;
    background-color: #540b51;
    padding-top: 4%;
}
.header-title {
  color: white;
  font-size: 3.38em;
  font-weight: 600;
  padding: 0 8%; 
  text-align: center;
}

#header-p {
    color: white;
    font-size: 1.10em;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
p span {
    color: #ecb12f;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 2;
}
.btns {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 0.7em;
    text-align: center;
}
.btn-container,
.btn-google {
    width: 85%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px; 
    border: none;
    padding: 1em;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    height: 60px;
}
.btn-container {
    background-color: white;
    color: #540b51;
}
.btn-google {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-google .sign-up {
  margin: 0 auto; 
  padding-right: 46px;
}
.btn-google img {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 2px;
}
.image-container {
    width: 100%; 
    overflow: hidden; 
    max-width: 100%;
  }
.image-container img {
    width: 160%; 
    height: auto; 
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: -40px; 
}

@media (min-width: 768px) and (max-width: 1024px){
    header {
    flex-direction: row; 
    align-items: right;
    background-image: url("../images/background-singup.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-title {
      font-size: 5.6em;
  text-align: left;
  margin-right: 8%;
  padding-top: 3%;
}
#header-p {
    font-size: 1.3em;
    text-align: left;
    margin-left: 8%;
    margin-right: 150px;
}
.btns {
padding-bottom:15% ;
}
.image-container {
    overflow: hidden; 
  }
.image-container img {
    width: 180%; 
    height: auto; 
    margin-top: 50%;
    margin-left: 10%;
}
}

@media (min-width: 1025px) and (max-width: 1440px) {
    header {
    flex-direction: row; 
    align-items: right;
    background-image: url("../images/background-singup.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-title {
      font-size: 6em;
  text-align: left;
  margin-left: 0;
  padding-top: 3%;
}
#header-p {
    font-size: 1.3em;
    text-align: left;
    margin-left: 8%;
    margin-right: 250px;
}
  .btns {
    flex-direction: column; 
    gap: 1em;
    align-items: start;
    padding-bottom: 5%;
    margin-left: 8%;
  }
.btn-container,
.btn-google {
    width: 75%;
    height: 60px;
    margin-left: 0;
}
.image-container {
    overflow: hidden; 
  }
.image-container img {
    width: 110%; 
    height: auto; 
    margin-top: 35%;
    margin-left: 20%;
}
}