main {
    background-color: #f3eae2;
    display: flex;
    flex-wrap: wrap;
}
.companies{
    padding-left: 8%;  
    padding-right: 8%;
    padding-bottom: 5%;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4%;
    margin-top: 0;
    padding-top: 4%;
    text-align: center;
}
.companies-logo {
    width: 20%; 
    height: 20%;
    margin: 4%;
}
img[alt="Target logo"]{
    width: 10%;
    height: 10%;
    margin: 4%;
}
.section-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.section-image-right{
padding: 0;
}
img[alt="connectedness"], 
img[alt="speed"]{
    width: 90%;
}
img[alt="flexibility"]{
    width: 90%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.section-content {
    margin: 3% 8% 3% 8%;
}
.section-content h2{
    margin-right: 30%;
    margin-bottom: 3%;
}
.to-right{
    padding: 0%;
    margin-left:3% ;
}
.paragraph{
    justify-content: left;
    color: #000000;
    margin: 0;
    margin-bottom: 3%;
    font-size: 14px;
}
.learn{
    color: #2E71A6;
    font-size: 14px;
}
.white-section,
.purple-section {
  display: inline-block;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.white-section {
  background-color: white;
  color: black;
}

.purple-section {
  background-color: #540b51;
  color: white;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
   letter-spacing: 1px;

}
#wiht-p {
  display: flex;
  justify-content: center;
  font-size: 11px;
  margin-bottom: 15px;
}
.button-container {
    text-align: center;
  margin-bottom: 15px;
}
#meet, #talk{
    text-transform: uppercase;
    font-size: 12px;
  border: 1px solid #540B51;
}
#talk{
  background: white;
  color: #540B51;
}
#meet-white{
  border: 1px solid white;
}
.button{
  background-color: #540B51;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}
.porcentajes{  
  display: flex;
  justify-content: center; 
  list-style: none; 
  
}
.porcentajes-dto{
  display: flex; 
  flex-direction: column; 
  margin: 20px 20px; 
}
#number{
  font-size: 45px;
  color: #540b51;
  font-weight:500;
}
#left{
  text-align: left;
  font-size: 14px;
  padding-right: 5%;
}
img[alt="Slacklogo" ]{
  width: 5%;
  height: 5%;
  margin-bottom: 3%;
}
footer {
  background-color: white;
  color: black;
  padding: 20px 0;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 10px;
}
footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-class {
  list-style: none;
  padding: 0;
}
#titleid {
  margin: 8px 0;
  font-weight: bold;
}
#listid{
  color: #454245;
}
hr {
  border: none;
  border-top: 1px solid rgb(185, 185, 185);
  margin: 20px 0;
}
small {
  display: block;
  margin-top: 20px;
}
.last{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 8px;
    margin-bottom: 20px;
}
.icons{
    justify-content: space-between;
    width: 20%;
}
@media (min-width: 769px) {
  .title{
    font-size: 16px;
    margin-bottom: 0;
}  
  .companies-logo {
    width: 7%; 
    margin-bottom: 3%;
  }
  img[alt="Target logo"]{
    width: 3.5%;
    height: 3.5%;
    margin-bottom: 3%;
}
  .section-container {
    flex-direction: row;
    padding-bottom: 70px;
  }

  .section-image {
    width: 55%;
    margin-right: 5%; 
  }
    .section-image-right{
    width: 55%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0;
} 

  .section-content {
    flex: 1;
    margin: 0;
    margin-top: 3%;}
}
  .paragraph{
    font-size: 18px;

}
  .learn{
    color: #2E71A6;
    font-size: 16px;
}
  .section-content h2{
    font-size: 38px;

}
  .to-right{
    padding: 5%;
    padding-right: 0;
  }
