main {
    background-color: #f3eae2;
    display: flex;
    flex-wrap: wrap;
}
.title{
    font-size: 17px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 4%;
    margin-top: 5%;
    padding-top: 4%;
    text-align: center;
}
.companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 39px;
}
.companies-logo {
    width: 15%; 
    height: 15%;
    margin: 4%;
}
img[alt="Airbnb logo"]{
    width: 25%;
    height: 25%;
    margin: 3.5%;
}
img[alt="Target logo"]{
    width: 13%;
    height: 13%;
    margin: 3.5%;
}
img[alt="New York Times logo"]{
  width: 45%;
    height: 45%;
    margin: 3.5%;
}
img[alt="Spotify logo"]{
  width: 30%;
    height: 30%;
    margin: 3.5%;
}
img[alt="connectedness"], 
img[alt="speed"]{
    width: 95%;
}
.section-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.section-content {
    margin: 13% 8%;
}
.h2-title{
  font-size: 2em;
  margin-bottom: 20px;
}
.paragraph{
    justify-content: left;
    color: #000000;
    margin-bottom: 3%;
    font-size: 14px;
    line-height: 30px;
}
.learn{
    color: #2E71A6;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
img[alt="flexibility"]{
    width: 100%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.to-right{
    padding: 0%;
    margin-left:3% ;
}
.h3-teams{
  margin: 15px;
  padding-top: 60px;
  font-size: 2.2em;
  text-align: center;
}
#slack-securely{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 25px;
}
.button-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}
.button{
  background-color: #540B51;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
#meet, #talk{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
  border: 2px solid #540B51;
  border-radius: 4px;
}
#talk{
  background: white;
  color: #540B51;
}
.porcentajes{  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  list-style: none; 
  margin-top: 50px;
}
#number{
  font-size: 50px;
  color: #540b51;
  font-weight:700;
}
.percentage-text{
  font-size: 16px;
  font-weight: 700;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 6%;
}
.weighted-average{
  text-align: center;
  color:#bababa;
  margin-bottom: 25px;
  margin-left: 4.45%;
  margin-right: 4.45%;
  font-size: 15px;
}
.plus{
  color:#bababa;
  text-decoration:underline;
  font-size: 13px;
}

.white-section,
.purple-section {
  display: inline-block;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.white-section {
  background-color: white;
  color: black;
}
.welcome{
  text-align: center;
  font-size: 2em;
  margin-top: 38px;
  margin-bottom: 38px;
  letter-spacing: 1.5px;
  line-height: 1.3;
}
#meet{
  border: 2px solid white;
  text-transform: uppercase;
  border-radius: 3px;
}
.purple-section {
  display: flex;
  flex-direction: column;
  background-color: #540b51;
  color: white;
  text-align: center;
  padding-bottom: 2.5em;
}










@media (min-width: 769px) {
  .title{
    font-size: 16px;
    margin-bottom: 0;
}  
  .companies-logo {
    width: 7%; 
    margin-bottom: 3%;
  }
  img[alt="Target logo"]{
    width: 3.5%;
    height: 3.5%;
    margin-bottom: 3%;
}
  .section-container {
    flex-direction: row;
    padding-bottom: 70px;
  }

  .section-image {
    width: 55%;
    margin-right: 5%; 
  }
    .section-image-right{
    width: 55%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0;
} 

  .section-content {
    flex: 1;
    margin: 0;
    margin-top: 3%;}
}
  .paragraph{
    font-size: 18px;

}
  .to-right{
    padding: 5%;
    padding-right: 0;
  }
