nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #540b51;
    align-items: center;
    padding: 5% 6% 5%;
    justify-content: space-between;
    height: 20%;
}
.list-choise{
    display: none;
}
img[alt="Slack logo"]{
    width: 25%;
}
img[alt="Search icon"]{
    width: 100%;
    margin-top: 11%;
}
.search{
    background-color: #540b51;
    border: none;    
}
.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%; 
}
.btn-menu-icon{
    background-color: #540b51;
    border: none;
}
img[alt="Menu icon"]{
    width: 120%;
    margin-top: 11%;
}

@media (min-width: 769px) {
    .btn-menu-icon {
        display: none;
    }
    img[alt="Slack logo"]{
        width: 18%;
        margin-right: 8%;
    }
    .menu-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav{
        padding: 2% 3% 2%;
    }
    nav .list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
    }
    .menu-logo ul li a{
        margin-left: 1px;
        color: white;
        font-weight: 600;
    }
    .menu-container{
        width: 50%;
    }
    div .icon-list{
        display: flex;
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .menu-container .sign a{
        color: white;
        font-weight: 600;
    }
    .sign{
        font-size: 15px;
        padding-top: 6%;
    }
    .try{
        background-color: white;
        border-radius: 3px;
        width: 70%;
        
    }
    .try a{
        color: #540b51;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
    }
}
