/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif
}
